<!--
  projects/django/learning_log/users/templates/registration/login.html

  template for the logout view to use ( a logged out confirmation )
-->

{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h3>You've been logged out!</h3>
{% endblock page_header %}

{% block content %}

  <div class="jumbotron">
    <p class="lead">Thanks for visiting!</p>
    <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:index' %}" role="button">
        Learning Logs Home &raquo;
    </a>
  </div>

{% endblock content %}
