<!--
  projects/django/learning_log/users/templates/registration/login.html

  template for the login view to use
-->

<!-- templates can be shared across different project apps -->
{% extends "learning_logs/base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match, please try again.</p>
  {% endif %}

  <!--
    the login view should be handling this template, set via action=".."

    the login view sends a form to the template, it's up to us to display the
    form and add a submit button
  -->
  <form method="post" action="{% url 'users:login' %}">

    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Log in</button>

    <!-- send users home after successfull login -->
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />

  </form>

{% endblock content %}
