<!-- projects/learning_log/learning_logs/templates/learning_logs/new_topic.html -->

{% extends "learning_logs/base.html"  %}

{% block content %}
  <p>Add a new topic:</p>

  <!-- send data from form submit to views.new_topic() as a POST -->
  <form action="{% url 'learning_logs:new_topic' %}" method='post'>

    <!-- cross-site request forgery prevention -->
    {% csrf_token %}

    <!-- render form elements, as paragraph elements -->
    {{ form.as_p }}

    <button name="submit">Add topic</button>
  </form>

{% endblock content %}
