<!-- projects/learning_log/learning_logs/templates/learning_logs/topics.html -->

{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    <!-- loop through context topics -->
    {% for topic in topics %}

      <li><h3>
        <!-- urls.py views.topic requires an id, examine the topic and retrieve it -->
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h3></li>

    {% empty %}
      </ul>
      <h3>No topics have been added yet.</h3>

    {% endfor %}
  </ul>

  <h4>
    <small class="text-muted">
      <a href="{% url 'learning_logs:new_topic' %}">
        Add a new topic
      </a>
    </small>
  </h4>

{% endblock content %}
