<!-- …/blog/packtblog/blog/templates/blog/base.html -->

<!--
  bring in tags supplied by django.contrib.staticfiles app
  files, specified by INSTALLED_APPS setting

  this lets us use { static "" } template filters for
  including static files ( ex: CSS files )
-->

<!-- brings in our custom built template tags -->
{% load blog_tags %}

<!-- brings in static files like CSS, JS, etc -->
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- …/blog/packtblog/blog/static/css/blog.css -->
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      {% block content %}

      {% endblock content %}
    </div>
    <div id="sidebar">
      <h2>DJ2 Example Blog</h2>
      <p>Supplementing my notes on " <code>Django 2 By Example</code> "</p>

      <p class="date">
        <span style="font-weight: bold">
          Total posts published so far: {% total_posts %}
        </span>
      </p>

      <h3>Latest posts</h3>
      {% show_latest_posts 3 %}

      <h3>Most commented posts</h3>
      <!-- store the result of this QuerySet in most_commented_posts -->
      {% get_most_commented_posts as most_commented_posts %}
      <ul>
        {% for post in most_commented_posts %}
          <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </body>
</html>
