{# …/project_2/bookmarks/account/templates/account/login.html #}
{# template for a custom user auth view, as an example #}

{% extends "base.html" %}

{% block title %}Log in{% endblock title %}

{% block content %}
  <h1>Log in</h1>
  <p>Use the following form to log in to your account:</p>

  {# use the form thats instantiated in the view #}
  <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log in"></p>
  </form>

{% endblock content %}
